<div class="home-container">
    <div class="form-container card bg-dark my-5">
        <p>Login</p>

        <div class="card-body">
            <h2 class="card-title text-center text-white py-3">Select action</h2>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Login">
                    <app-login-form step="login" [account]="account"></app-login-form>
                </mat-tab>
                <mat-tab label="Register">
                    <app-login-form step="register" [account]="account"></app-login-form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>